@import url("ol.css");

.ol-scale-line {
    background-color: rgba(255, 255, 255, 0.7);
    left: 8px;
    bottom: 0;
}
.ol-scale-line-inner {
    border: 2px solid #000;
    border-top: none;
    color: #333;
    font-weight: bold;
    font-size:  11px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}
.ol-attribution {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 7px;
}
.ol-attribution a {
    color: #333;
    font-size:  11px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}
.ol-zoom a {
    background: rgba(58,60,60,0.5);
}
.ol-zoom a:hover {
    background: rgba(30,30,30,0.5);
}
.ga-tooltip {
    display: none;
    position: absolute;
    background-color: white;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding-top: 20px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    width: 450px;
    max-width: 450px;
}
.ga-tooltip-content {
    overflow: auto;
    max-height: 200px;
}
.ga-tooltip-content a {
    color: #333;
    text-decoration: underline;
}
.ga-tooltip-content a:hover {
    color: #333;
    text-decoration: underline;
}
.ga-tooltip:after, .ga-tooltip:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ga-tooltip:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ga-tooltip:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ga-tooltip-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ga-tooltip-closer:after {
    content: "✖";
    color: #333;
}

.htmlpopup-container {
  max-height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}
.htmlpopup-container span {
  font-weight: bold;
}
.htmlpopup-container .htmlpopup-header {
  background-color: #E9E9E9;
  padding: 7px;
}
.htmlpopup-container .htmlpopup-content {
  padding: 7px;
}
.htmlpopup-container .htmlpopup-content table {
  width: 100%;
  border: 0;
}
.htmlpopup-container .htmlpopup-content table td {
  vertical-align: top;
  font-size: 12px;
}
.htmlpopup-container .htmlpopup-content table .cell-left {
  width: 150px;
}
.htmlpopup-container .htmlpopup-content table .cell-left-large {
  width: 320px;
}

@media (max-width: 480px) {
  div.ga-tooltip {
    top: 50%;
    bottom: 2%;
    left: 2%;
    right: 2%;
    width: auto;
  }
}

.crosshair {
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
  background-image: url('ch_cross.png');
}

.modal-dialog {
  color: #000;
  position: absolute;
  width: 430px;
}

@media (max-width: 480px) {
  .modal-dialog {
    top: 50%;
    bottom: 2%;
    left: 2%;
    right: 2%;
    width: auto;
  }
}

.modal-dialog-bg {
  background: #666;
  left: 0;
  position: absolute;
  top: 0;
}

.modal-dialog-title {
  background: #f7f7f7;
  color: #000;
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;
  /* Add padding on the right to ensure the close button has room. */
  padding: 8px 31px 8px 8px;
  position: relative;
  _zoom: 1; /* Ensures proper width in IE6 RTL. */
}

.modal-dialog-title-close {
  background: #f7f7f7 url(editortoolbar.png) no-repeat -528px 0;
  cursor: pointer;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 15px;
  vertical-align: middle;
}

.modal-dialog-buttons,
.modal-dialog-content {
  background-color: #fff;
  padding: 8px;
  max-height: 200px;
  overflow-y: scroll;
}

.goog-buttonset-default {
  font-weight: bold;
}

/* State: hover. */
.goog-menuitem-highlight,
.goog-menuitem-hover {
  background-color: #f7f7f7;
  cursor: pointer;
}
