.ol-attribution {
  position: absolute;
  font-size: 10px;
  text-align: right;
  color: #eeeeee;
  bottom: 0;
  right: 0;
  background: rgba(0,60,136,0.3);
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  padding: 2px 4px;
}
.ol-attribution a {
  color: white;
  text-decoration: none;
}
.ol-attribution li {
  display: inline;
  list-style: none;
}
.ol-attribution li:not(:last-child):after {
  content: "\2003";
}
.ol-dragbox {
  position: absolute;
  border: 2px solid red;
}
.ol-renderer-webgl-canvas {
  width: 100%;
  height: 100%;
}
.ol-viewport .ol-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ol-zoom {
  position: absolute;
  top: 8px;
  left: 8px;
  background: rgba(255,255,255,0.4);
  border-radius: 4px;
  padding: 2px;
}
.ol-zoom a {
  display: block;
  margin: 1px;
  padding: 0;
  color: white;
  font-size: 18px;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 22px;
  width: 22px;
  line-height: 19px;
  background: rgba(0,60,136,0.5);
}
.ol-zoom a:hover {
  background: rgba(0,60,136,0.7);
}

.ol-zoom-in {
  border-radius: 2px 2px 0 0;
}
.ol-zoom-out {
  border-radius: 0 0 2px 2px;
}
