.ol-attribution {
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 0;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  padding: 6px;
}
.ol-attribution a {
  text-decoration: none;
}

/* rgba is not supported on IE <= 8, fall back to black text so that it's readable */
.ol-attribution {
  color: #000000;
}
.ol-attribution:not([ie8andbelow]) {
  color: #eeeeee;
  background: rgba(0,60,136,0.3);
}

/* white links are unreadable on IE <= 8 with no background, fall back to blue links */
.ol-attribution a {
  color: #7b98bc;
}
.ol-attribution a:not([ie8andbelow]) {
  color: white;
}

.ol-attribution ul {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 12px;
}
.ol-attribution li {
  display: inline;
  list-style: none;
  line-height: inherit;
}
.ol-attribution li:not(:last-child):after {
  content: "\2003";
}
.ol-attribution-bing-tos {
  float:right;
  padding-top: 2px;
  white-space: nowrap;
}
.ol-full-screen {
  /* IE <= 8 doesn't support rgba, fall back to a light grey */
  background: #eee;
  border-radius: 4px;
  padding: 2px;
  position: absolute;
  right: 8px;
  top: 8px;
}
.ol-full-screen:not([ie8andbelow]) {
  /* IE <= 8 doesn't support rgba, fall back to a light grey */
  background: rgba(255,255,255,0.4);
}
@media print {
  .ol-full-screen {
    display: none;
  }
}
.ol-full-screen a {
  /* IE <= 8 doesn't support rgba, fall back to a light blue */
  background: #7b98bc;
  color: white;
  display: block;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  font-size: 18px;
  font-weight: bold;
  height: 22px;
  line-height: 19px;
  margin: 1px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 22px;
}
.ol-full-screen a:not([ie8andbelow]) {
  /* IE <= 8 doesn't support rgba, fall back to a light blue */
  background: rgba(0,60,136,0.5);
}
a.ol-full-screen-false:after {
  content: "\2194";
}
a.ol-full-screen-true:after {
  content: "\00d7";
}

.ol-full-screen div {
  border-radius: 2px;
}
.ol-full-screen div a {
  border-radius: 2px;
}
.ol-full-screen a:hover {
  /* IE <= 8 doesn't support rgba, fall back to a light blue */
  background: #4c6079;
}
.ol-full-screen a:hover:not([ie8andbelow]) {
  /* IE <= 8 doesn't support rgba, fall back to a light blue */
  background: rgba(0,60,136,0.7);
}
.ol-logo {
  bottom: 0;
  left: 0;
  padding: 2px;
  position: absolute;
}
.ol-logo ul {
  margin: 0;
}
.ol-logo ul li {
  display: inline;
  list-style: none;
}

.ol-mouse-position {
  top: 8px;
  right: 8px;
  position: absolute;
}

.ol-scale-line {
  /* IE <= 8 doesn't support rgba, fall back to a light blue */
  background: #95b9e6;
  border-radius: 4px;
  bottom: 8px;
  left: 8px;
  padding: 2px;
  position: absolute;
}
.ol-scale-line:not([ie8andbelow]) {
  /* IE <= 8 doesn't support rgba, fall back to a light blue */
  background: rgba(0,60,136,0.3);
}
.ol-scale-line-inner {
  border: 1px solid #eeeeee;
  border-top: none;
  color: #eeeeee;
  font-size: 10px;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  text-align: center;
  margin: 1px;
  padding: 0px 2px;
}
.ol-unsupported {
  display: none;
}
.ol-viewport .ol-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ol-zoom {
  position: absolute;
  top: 8px;
  left: 8px;
  /* IE <= 8 doesn't support rgba, fall back to a light grey */
  background-color: #eee;
  border-radius: 4px;
  padding: 2px;
}
/* IE <= 8 doesn't support rgba, fall back to a light grey */
.ol-zoom:not([ie8andbelow]) {
  background-color: rgba(255,255,255,0.4);
}
@media print {
  .ol-zoom {
    display: none;
  }
}

.ol-zoom a {
  display: block;
  margin: 1px;
  padding: 0;
  color: white;
  font-size: 18px;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 22px;
  width: 22px;
  line-height: 19px;
  /* IE <= 8 doesn't support rgba, fall back to a light blue */
  background-color: #7b98bc;
}
.ol-zoom a:not([ie8andbelow]) {
  /* IE <= 8 doesn't support rgba, fall back to a light blue */
  background-color: rgba(0,60,136,0.5);
}
.ol-touch .ol-zoom a {
  font-size: 20px;
  height: 30px;
  width: 30px;
  line-height: 26px;
}
.ol-zoom a:hover {
  color: #fff;
  text-decoration: none;
  /* IE <= 8 doesn't support rgba, fall back to a lighter blue */
  background-color: #4c6079;
}
.ol-zoom a:hover:not([ie8andbelow]) {
  /* IE <= 8 doesn't support rgba, fall back to a lighter blue */
  background-color: rgba(0,60,136,0.7);
}

.ol-zoom-in {
  border-radius: 2px 2px 0 0;
}

.ol-zoom-out {
  border-radius: 0 0 2px 2px;
}

.ol-zoomslider {
  position: absolute;
  top: 67px;
  left: 8px;
  /* IE <= 8 doesn't support rgba, fall back to a light grey */
  background: #eee;
  border-radius: 4px;
  width: 28px;
  height: 200px;
  outline: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.ol-zoomslider:not([ie8andbelow]) {
  /* IE <= 8 doesn't support rgba, fall back to a light grey */
  background: rgba(255, 255, 255, 0.4);
}
.ol-zoomslider-thumb {
  position: absolute;
  display: block;
  padding: 0;
  margin: 2px;
  /* IE <= 8 doesn't support rgba, fall back to a lighter blue */
  background: #7b98bc;
  border-radius: 2px;
  outline: none;
  overflow: hidden;
  height: 20px;
  width: 24px;
}
.ol-zoomslider-thumb:not([ie8andbelow]) {
  /* IE <= 8 doesn't support rgba, fall back to a lighter blue */
  background: rgba(0,60,136,0.5);
}
.ol-zoom-extent {
  position: absolute;
  /* IE <= 8 doesn't support rgba, fall back to a light grey */
  background: #eee;
  border-radius: 4px;
  left: 8px;
  padding: 2px;
  top: 65px;
}
.ol-zoom-extent:not([ie8andbelow]) {
  /* IE <= 8 doesn't support rgba, fall back to a light grey */
  background: rgba(255,255,255,0.4);
}
@media print {
  .ol-zoom-extent {
    display: none;
  }
}
.ol-zoom-extent a {
  display: block;
  margin: 1px;
  padding: 0;
  color: white;
  font-size: 16px;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 22px;
  width: 22px;
  /* IE <= 8 doesn't support rgba, fall back to a lighter blue */
  background-color: #7b98bc;
  border-radius: 2px;
}
.ol-zoom-extent a:not([ie8andbelow]) {
  /* IE <= 8 doesn't support rgba, fall back to a lighter blue */
  background-color: rgba(0, 60, 136, 0.5);
}
.ol-touch .ol-zoom-extent a {
  font-size: 20px;
  height: 30px;
  width: 30px;
  line-height: 26px;
}
.ol-zoom-extent a:hover {
  /* IE <= 8 doesn't support rgba, fall back to a lighter blue */
  background-color: #4c6079;
}
.ol-zoom-extent a:hover:not([ie8andbelow]) {
  /* IE <= 8 doesn't support rgba, fall back to a lighter blue */
  background-color: rgba(0, 60, 136, 0.7);
}
.ol-zoom-extent a:after {
    content: "E";
}
