.ol-attribution {
  position: absolute;
  text-align: right;
  bottom: 0;
  right: 0;
  padding: 6px;
  color: #000000;
  color: rgba(238,238,238,1);
  background: rgba(0,60,136,0.3);
}
.ol-attribution a {
  text-decoration: none;
  color: #7b98bc;
  color: rgba(255,255,255,1);
}

.ol-attribution ul {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 12px;
}
.ol-attribution li {
  display: inline;
  list-style: none;
  line-height: inherit;
}
.ol-attribution li:not(:last-child):after {
  content: "\2003";
}
.ol-attribution-bing-tos {
  float:right;
  padding-top: 2px;
  white-space: nowrap;
}

.ol-full-screen a:hover {
  /* IE <= 8 doesn't support rgba, fall back to a light blue */
  background: #4c6079;
  background: rgba(0,60,136,0.7);
}
.ol-logo {
  bottom: 0;
  left: 0;
  padding: 2px;
  position: absolute;
}
.ol-logo ul {
  margin: 0;
  padding: 0;
}
.ol-logo ul li {
  display: inline;
  list-style: none;
}

.ol-mouse-position {
  top: 8px;
  right: 8px;
  position: absolute;
}

.ol-scale-line {
  background: #95b9e6;
  background: rgba(0,60,136,0.3);
  border-radius: 4px;
  bottom: 8px;
  left: 8px;
  padding: 2px;
  position: absolute;
}
.ol-scale-line-inner {
  border: 1px solid #eeeeee;
  border-top: none;
  color: #eeeeee;
  font-size: 10px;
  text-align: center;
  margin: 1px;
  padding: 0px 2px;
}
.ol-unsupported {
  display: none;
}
.ol-viewport .ol-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.ol-zoom,
.ol-zoom-extent,
.ol-full-screen {
  position: absolute;
  background-color: #eee;
  background-color: rgba(255,255,255,0.4);
  border-radius: 4px;
  padding: 2px;
}
.ol-zoom {
  top: 8px;
  left: 8px;
}
.ol-zoom-extent {
  top: 65px;
  left: 8px;
}
.ol-full-screen {
  right: 8px;
  top: 8px;
}
@media print {
  .ol-zoom,
  .ol-zoom-extent,
  .ol-full-screen {
    display: none;
  }
}

.ol-zoom button,
.ol-zoom-extent a,
.ol-full-screen a {
  display: block;
  margin: 1px;
  padding: 0;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 22px;
  width: 22px;
  line-height: 19px;
  background-color: #7b98bc;
  background-color: rgba(0,60,136,0.5);
  border: none;
}
.ol-zoom-extent a {
  font-size: 16px;
  line-height: 22px;
  border-radius: 2px;
}
.ol-touch .ol-zoom button,
.ol-touch .ol-zoom-extent a {
  font-size: 20px;
  height: 30px;
  width: 30px;
  line-height: 26px;
}
.ol-zoom button:hover,
.ol-zoom button:focus,
.ol-zoom-extent a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #4c6079;
  background-color: rgba(0,60,136,0.7);
}
.ol-zoom-extent a:after {
    content: "E";
}
.ol-zoom-in {
  border-radius: 2px 2px 0 0;
}
.ol-zoom-out {
  border-radius: 0 0 2px 2px;
}
a.ol-full-screen-false:after {
  content: "\2194";
}
a.ol-full-screen-true:after {
  content: "\00d7";
}
.ol-full-screen a {
  border-radius: 2px;
}

/* invisible but not hidden */
.olHasToolTip span, .olHasTooltip_b_r span {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* < IE8 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  font-weight: normal;
  font-size: 16px;
}

/* show a tooltip offset to below and right */
.olHasToolTip:hover span, .olHasToolTip:focus span ,
.olHasTooltip_b_r:hover span , .olHasTooltip_b_r:focus span  {
  clip: auto;
  padding: 3px;
  height: auto;
  width: auto;
  z-index: 1100;
  max-height: 100px;
  white-space: nowrap;
  display: inline-block;
  background-color: #eee;
  color: #000;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #333;
  bottom: -2em;
  left: 1em;
}

.ol-zoomslider {
  position: absolute;
  top: 67px;
  left: 8px;
  background: #eee;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  width: 28px;
  height: 200px;
  outline: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.ol-zoomslider-thumb {
  position: absolute;
  display: block;
  padding: 0;
  margin: 2px;
  background: #7b98bc;
  background: rgba(0,60,136,0.5);
  border-radius: 2px;
  outline: none;
  overflow: hidden;
  height: 20px;
  width: 24px;
}
.ol-zoom-extent a,
.ol-attribution,
.ol-full-screen a,
.ol-scale-line-inner,
.ol-zoom a {
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
}
