.ol-attribution {
  position: absolute;
  text-align: right;
  color: #eeeeee;
  bottom: 0;
  right: 0;
  background: rgba(0,60,136,0.3);
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  padding: 6px;
}
.ol-attribution a {
  color: white;
  text-decoration: none;
}
.ol-attribution ul {
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 12px;
}
.ol-attribution li {
  display: inline;
  list-style: none;
  line-height: inherit;
}
.ol-attribution li:not(:last-child):after {
  content: "\2003";
}
.ol-dragbox {
  position: absolute;
  border: 2px solid red;
}
.ol-full-screen {
  background: rgba(255,255,255,0.4);
  border-radius: 4px;
  padding: 2px;
  position: absolute;
  right: 8px;
  top: 8px;
}
@media print {
  .ol-full-screen {
    display: none;
  }
}
.ol-full-screen a {
  background: rgba(0,60,136,0.5);
  color: white;
  display: block;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  font-size: 18px;
  font-weight: bold;
  height: 22px;
  line-height: 19px;
  margin: 1px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 22px;
}
a.ol-full-screen-false:after {
  content: "\2194";
}
a.ol-full-screen-true:after {
  content: "\00d7";
}

.ol-full-screen div {
  border-radius: 2px;
}
.ol-full-screen div a {
  border-radius: 2px;
}
.ol-full-screen a:hover {
  background: rgba(0,60,136,0.7);
}
.ol-logo {
  bottom: 0;
  left: 0;
  padding: 2px;
  position: absolute;
}
.ol-logo ul {
  margin: 0;
}
.ol-logo ul li {
  display: inline;
  list-style: none;
}

.ol-mouse-position {
  top: 8px;
  right: 8px;
  position: absolute;  
}

.ol-scale-line {
  background: rgba(0,60,136,0.3);
  border-radius: 4px;
  bottom: 8px;
  left: 8px;
  padding: 2px;
  position: absolute;
}
.ol-scale-line-inner {
  border: 1px solid #eeeeee;
  border-top: none;
  color: #eeeeee;
  font-size: 10px;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  text-align: center;
  margin: 1px;
  padding: 0px 2px;
}
.ol-unsupported {
  display: none;
}
.ol-viewport .ol-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ol-zoom {
  position: absolute;
  top: 8px;
  left: 8px;
  background: rgba(255,255,255,0.4);
  border-radius: 4px;
  padding: 2px;
}
@media print {
  .ol-zoom {
    display: none;
  }
}

.ol-zoom a {
  display: block;
  margin: 1px;
  padding: 0;
  color: white;
  font-size: 18px;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 22px;
  width: 22px;
  line-height: 19px;
  background: rgba(0,60,136,0.5);
}
.ol-touch .ol-zoom a {
  font-size: 20px;
  height: 30px;
  width: 30px;
  line-height: 26px;
}
.ol-zoom a:hover {
  background: rgba(0,60,136,0.7);
}

.ol-zoom-in {
  border-radius: 2px 2px 0 0;
}
.ol-zoom-in:before {
  content: "+";
}

.ol-zoom-out {
  border-radius: 0 0 2px 2px;
}
.ol-zoom-out:before {
  content: "\2212";
}

.ol-zoomslider {
  position: absolute;
  top: 67px;
  left: 8px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  width: 28px;
  height: 200px;
  outline: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.ol-zoomslider-thumb {
  position: absolute;
  display: block;
  padding: 0;
  margin: 2px;
  background: rgba(0,60,136,0.5);
  border-radius: 2px;
  outline: none;
  overflow: hidden;
  height: 20px;
  width: 24px;
}
.ol-zoom-extent {
  position: absolute;
  background: rgba(255,255,255,0.4);
  border-radius: 4px;
  left: 8px;
  padding: 2px;
  top: 65px;
}
@media print {
  .ol-zoom-extent {
    display: none;
  }
}
.ol-zoom-extent a {
  display: block;
  margin: 1px;
  padding: 0;
  color: white;
  font-size: 16px;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 22px;
  width: 22px;
  background-color: rgba(0, 60, 136, 0.5);
  border-radius: 2px;
}
.ol-touch .ol-zoom-extent a {
  font-size: 20px;
  height: 30px;
  width: 30px;
  line-height: 26px;
}
.ol-zoom-extent a:hover {
  background-color: rgba(0, 60, 136, 0.7);
}
.ol-zoom-extent a:after {
    content: "E";
}

.ol-pan {
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 2px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
@media print {
  .ol-pan {
    display: none;
  }
}
.ol-pan span {
  display: block;
  line-height: 0;
}
.ol-pan a {
  display: inline-block;
  margin: 0.5px;
  padding: 0;
  color: white;
  font-size: 18px;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  height: 22px;
  width: 22px;
  line-height: 19px;
  background: rgba(0, 60, 136, 0.5);
}
.ol-touch .ol-pan a {
  font-size: 20px;
  height: 30px;
  width: 30px;
  line-height: 26px;
}
.ol-pan a:hover {
  background: rgba(0, 60, 136, 0.7);
}
.ol-pan-north {
  border-radius: 8px 0 0 0;
}
.ol-pan-east {
  border-radius: 0 8px 0 0;
}
.ol-pan-south {
  border-radius: 0 0 8px 0;
}
.ol-pan-west {
  border-radius: 0 0 0 8px;
}
.ol-pan-north:after {
  content: "\21d6";
}
.ol-pan-east:after {
  content: "\21d7";
}
.ol-pan-south:after {
  content: "\21d8";
}
.ol-pan-west:after {
  content: "\21d9";
}
