
dy {
    background: none repeat scroll 0 0 #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    line-height: 14px;
}
p {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    line-height: 14px;
}
div {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    line-height: 14px;
}
span {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    line-height: 14px;
}
font {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    line-height: 14px;
}
td {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    text-align: left;
    vertical-align: top;
}
th {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
}
b {
    font-family: verdana,geneva,arial,sans-serif;
    font-weight: bold;
}
ul {
    font-family: verdana,geneva,arial,sans-serif;
    line-height: 14px;
    list-style-type: disc;
}
img {
    border-color: #000000;
}
.zsborder {
    border: 2px solid #CCCCCC;
    margin-bottom: 20px;
    padding: 10px;
    width: 600px;
}
.zsbigborder {
    border: 1px solid #222222;
    margin-bottom: 20px;
    padding: 10px;
    width: 625px;
}
.input-txt {
    background-color: #FFFFFF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 8pt;
}
.select-txt {
    background-color: #FFFFFF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 8pt;
}
.inputsmall {
    background-color: #FFFFFF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 8pt;
}
.inputmiddle {
    background-color: #FFFFFF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 8pt;
}
.input-text {
    background-color: #FFFFFF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 8pt;
    margin-left: 50pt;
    margin-top: 50pt;
}
.input-travelclub-no {
    background-color: #FFFFFF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 8pt;
}
.inputsearch {
    background-color: #FFFFFF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 8pt;
}
.inputindex {
    background-color: #FFFFFF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 8pt;
}
.inputindexawb {
    background-color: #FFFFFF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 8pt;
}
.inputindexsmall {
    background-color: #FFFFFF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 8pt;
}
.input-form-cug {
    background-color: #FFFFFF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 8pt;
}
.borderinput {
    background-color: #FFFFFF;
    border: 1px solid black;
    color: #000000;
    font-size: 10pt;
}
h1 {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
}
h2 {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
}
h3 {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
}
h4 {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
}
h5 {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
}
h6 {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
}
hr {
    color: #CCCCCC;
}
a:link {
    border-color: #000000;
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a:hover {
    border-color: #000000;
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: underline;
}
a:visited {
    border-color: #000000;
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a:visited:hover {
    border-color: #000000;
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: underline;
}
a:active {
    border-color: #000000;
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a.teaser:link {
    border-color: #000000;
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a.teaser:hover {
    border-color: #000000;
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a.teaser:visited {
    border-color: #000000;
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a.teaser:visited:hover {
    border-color: #000000;
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a.teaser:active {
    border-color: #000000;
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a.news:link {
    color: #990000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a.news:hover {
    color: #990000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: underline;
}
a.news:visited {
    color: #990000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a.news:visited:hover {
    color: #990000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: underline;
}
a.news:active {
    color: #990000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a.white:link {
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a.white:hover {
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a.white:visited {
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a.white:visited:hover {
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a.white:active {
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
A.info:link {
    color: #535345;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 9px;
    text-decoration: underline;
}
A.info:visited {
    color: #535345;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 9px;
    text-decoration: underline;
}
A.info:active {
    color: #535345;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 9px;
    text-decoration: underline;
}
A.info:hover {
    color: #CD002D;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 9px;
    text-decoration: none;
}
a.navi:link {
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
}
a.navi:hover {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
}
a.navi:visited {
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
}
a.navi:visited:hover {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
}
a.navi:active {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
}
a.nav:link {
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a.nav:hover {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a.nav:visited {
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a.nav:visited:hover {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a.nav:active {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
.navigation-grey {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
}
.nav-grey {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
.navigation-separator-low {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 6px;
    line-height: 6px;
    text-decoration: none;
}
.navigation-separator {
    color: #990000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
}
.navigation-self {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: normal;
}
navigation-self-lev4 {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    line-height: normal;
}
.navigation-sibling {
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: normal;
}
.navigation-parent {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
}
.navigation-child {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: normal;
}
.divider {
    color: #CCCCCC;
    font-family: verdana,geneva,arial,sans-serif;
}
.pagetitle {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
}
.content-bg {
    background-color: #EFEFEF;
}
.layout-bg {
    background-color: #FFFFFF;
}
.white-bg {
    background-color: #FFFFFF;
}
.title {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
}
.titlepul {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.subtitle {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-stretch: expanded;
    font-weight: bold;
    line-height: 16px;
}
.maintitle {
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}
.small-column {
    color: #535345;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
    line-height: 12px;
}
.new {
    color: #EC8900;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
}
.topic-title {
    color: #333333;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
}
.text-highlighted {
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
    text-decoration: none;
}
.highlighted {
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    line-height: 14px;
}
.text {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    line-height: 14px;
}
.tiny {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 9px;
    line-height: normal;
}
.highlighted-tiny {
    color: #990000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 9px;
    line-height: normal;
}
.logintitle {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}
.code {
    color: #000000;
    font-family: "Courier New",Courier,monospace;
    font-size: 11px;
    line-height: 14px;
}
.code-highlighted {
    color: #990000;
    font-family: "Courier New",Courier,monospace;
    font-size: 11px;
    line-height: 14px;
}
.tiny-light {
    color: #666666;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 9px;
    line-height: normal;
}
.footer {
    color: #999999;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 9px;
    line-height: 11px;
}
.error {
    color: #FF9900;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
}
.error-tiny {
    color: #FF9900;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 9px;
    font-weight: bold;
    line-height: 10px;
}
.dummy-link {
    border-color: #000000;
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
.news-index {
    color: #990000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    line-height: 14px;
}
.news-index-small {
    color: #990000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
    line-height: 12px;
}
.news-date-small {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
    line-height: 14px;
}
.news-title {
    color: #333333;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
}
.news-abstract {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-stretch: expanded;
    font-weight: normal;
    line-height: 16px;
}
.lead {
    color: #990000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 14px;
}
.abstract {
    color: #333333;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
}
.teaser-title {
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    padding-left: 8px;
}
.teaser-link {
    color: #990000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    line-height: 14px;
}
.table-bg {
    background-color: #EFEFEF;
}
.tablerow-light {
    background-color: #E9E9E9;
}
.tablerow-dark {
    background-color: #E0E0E0;
}
.tablerow-white {
    background-color: #FFFFFF;
}
.tableheader {
    background-color: #999999;
}
.tablefooter {
    background-color: #999999;
}
.tablemiddle {
    background-color: #FFFFFF;
}
.tabletitle {
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    padding-left: 4px;
}
.tabletitleindex {
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.tabletopictitle {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    padding-left: 4px;
}
.tablecontent {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    line-height: normal;
    padding-left: 4px;
}
.tablecontent-highlighted {
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
    line-height: normal;
    padding-left: 4px;
}
.tablecontent-white {
    background-color: #FFFFFF;
}
.tablecontent-dark {
    background-color: #E9E9E9;
}
.cell-bg {
    background-color: #FFFFFF;
}
.cell-nostyle {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 1px;
    font-style: normal;
}
.celltitle {
    color: #818177;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}
.tableframe-dark {
    background-color: #999999;
}
.tableframe-light {
    background-color: #E9E9E9;
}
.location {
    background-color: #666666;
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    padding: 4px;
}
.orgatitle {
    color: #333333;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
}
.organame {
    color: #333333;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
    text-align: center;
}
.orgaceo {
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
}
.orga-bg-lev0 {
    background-color: #999999;
}
.orga-bg-lev1 {
    background-color: #C0C0C0;
}
.orga-bg-lev2 {
    background-color: #D0D0D0;
}
.orga-bg-lev3 {
    background-color: #E9E9E9;
}
.hide {
    color: #EFEFEF;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 1px;
    font-style: normal;
    line-height: normal;
}
.joboffercategory {
    background-color: #DEDEDE;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    padding-left: 4px;
    padding-right: 4px;
}
.jobofferitem {
    background-color: #E9E9E9;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 15px;
    padding-left: 4px;
    padding-right: 4px;
}
.sitemap-divider {
    line-height: 24px;
}
.sitemapheader {
    background-color: #EFEFEF;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding: 4px 8px;
}
.sitemapsubheader {
    border-left: 1px solid #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-style: normal;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}
.sitemapfooter {
    border-bottom: 1px solid #999999;
}
.sitemapheaderfont {
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    padding-bottom: 4px;
    padding-top: 4px;
}
.sitemapempty {
    background-color: #EFEFEF;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-style: normal;
    padding-left: 8px;
    padding-right: 8px;
}
.sitemaplevel2 {
    background-color: #EFEFEF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    padding: 4px 8px;
}
.sitemaplevel3 {
    background-color: #EFEFEF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    padding: 4px 8px;
}
.sitemaplevel4 {
    background-color: #EFEFEF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    padding: 4px 8px;
}
.sitemaplevel5 {
    background-color: #EFEFEF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-style: normal;
    padding-left: 8px;
    padding-right: 8px;
}
.sitemaplevel6 {
    background-color: #EFEFEF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-style: normal;
    padding-left: 8px;
    padding-right: 8px;
}
.subsitemapheader {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.subsitemaplevel2 {
    color: #003333;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
}
.subsitemaplevel3 {
    color: #003333;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 14px;
}
.popup-pagetitle {
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
.popup-title {
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
.destinationmap {
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
}
.routemap-header-bg {
    background-color: #E9E9E9;
    background-image: url("bg-subnav-1px.gif");
}
.routemap-border-bg {
    background-color: #999999;
}
.routemap-body {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    line-height: normal;
    margin-left: -10px;
    margin-top: -10px;
}
.newsletter-title {
    background-color: #999999;
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
}
.newsletter-overview-title {
    background-color: #666666;
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
}
.newsletter-subtitle {
    background-color: #999999;
    color: #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
}
.newsletter-text {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
}
.newsletter-small-text {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
}
.newsletter-table-header {
    background-color: #999999;
    font-family: Verdana,Geneva,Arial,sans-serif;
    font-size: 10pt;
}
.newsletter-overview {
    background-color: #666666;
    font-family: Verdana,Geneva,Arial,sans-serif;
    font-size: 10pt;
}
.newsletter-table-footer {
    background-color: #999999;
    font-family: Verdana,Geneva,Arial,sans-serif;
    font-size: 3pt;
    line-height: 3px;
}
.newsletter-table-cell-dark {
    background-color: #E0E0E0;
    font-family: Verdana,Geneva,Arial,sans-serif;
    font-size: 10pt;
}
.newsletter-table-cell {
    background-color: #EFEFEF;
    font-family: Verdana,Geneva,Arial,sans-serif;
    font-size: 10pt;
}
.ecarderror {
    color: #FF8500;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
}
.inputecard {
    background-color: #FFFFFF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 8pt;
}
.inputecardmiddle {
    background-color: #FFFFFF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 8pt;
}
.inputecardsmall {
    background-color: #FFFFFF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 8pt;
}
.inputecardtext {
    background-color: #FFFFFF;
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 9pt;
}
.inputecardreadonly {
    border-color: -moz-use-text-color;
    border-left: medium none;
    border-right: medium none;
    border-style: none;
    border-width: medium;
    color: #CC0000;
    font-size: 9px;
    width: 150px;
}
.selectcountries {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-style: normal;
    width: 162px;
}
.amos-text {
    color: #535345;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
    font-style: normal;
    width: 444px;
}
.radio-light {
    background-color: #E9E9E9;
}
.radio-dark {
    background-color: #E0E0E0;
}
.fieldtext {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
    font-style: normal;
    width: 128px;
}
.fieldtextD {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
    font-style: normal;
    width: 40px;
}
.fieldtextM {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
    font-style: normal;
    width: 50px;
}
.fieldtextPM {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
    font-style: normal;
    width: 102px;
}
.fieldtextC {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
    font-style: normal;
    width: 128px;
}
.fieldtextF {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
    font-style: normal;
    width: 128px;
}
.fieldtextP {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
    font-style: normal;
    width: 60px;
}
.textSelect {
    color: #535345;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
    font-style: normal;
}
.index-border-bg {
    background-color: #999999;
}
.booking-frame {
    background-color: #E9E9E9;
}
.index-bg {
    background-color: #E9E9E9;
}
.calendar-today {
    color: #990000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
}
.calendar-weekday {
    color: #000000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: normal;
}
.calendar-sunday {
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: normal;
}
.fieldtext-kac {
    color: #535345;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 10px;
    font-style: normal;
    width: 80px;
}
#seidenfeinNews {
    background-color: #FFFFFF;
    position: absolute;
    visibility: hidden;
}
#specialOffersIFrame {
    background-color: #CCCCCC;
    position: absolute;
    visibility: hidden;
}
#specialOffersContainer {
    position: absolute;
    visibility: hidden;
}
#seidenfeinNewsScroller {
    position: absolute;
}
#seidenfeinNewsArrows {
    position: absolute;
}
.knopf {
    background-color: #993333;
    border: medium outset #FF9933;
    color: #FFFFFF;
    font-family: Verdana,Tahoma,Arial,Helvetica;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
}
.TrFirst {
    background-color: #FFFFFF;
    border: 0 none;
    color: #FFFFFF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-variant: normal;
    font-weight: bolder;
}
.TrSecond {
    background-color: #FFFFFF;
    border: 0 none;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: bolder;
}
.TTitel {
    border: 0 none;
    color: #FF9933;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-variant: normal;
    font-weight: bolder;
}
.BigBorderVerL {
    background: url("../images/links.jpg") repeat-y scroll 0 0 transparent;
}
.BigBorderVerR {
    background: url("../images/rechts.jpg") repeat-y scroll 0 0 transparent;
    width: 24px;
}
.BigTable {
    background-repeat: inherit;
}
.BigBorderHorOb {
    background-image: url("../images/oben.jpg");
    height: 24px;
}
.BigBorderHorUn {
    background: url("../images/unten.jpg") repeat scroll 0 0 transparent;
    height: 24px;
}
.ObenLinks {
    background: url("../images/obenlinks.jpg") no-repeat scroll 0 0 transparent;
    height: 24px;
    width: 24px;
}
.ObenRechts {
    background: url("../images/obenrechts.jpg") no-repeat scroll 0 0 transparent;
    height: 24px;
    width: 24px;
}
.UntenLinks {
    background: url("../images/untenlinks.jpg") no-repeat scroll 0 0 transparent;
    height: 24px;
    width: 24px;
}
.UntenRechts {
    background: url("../images/untenrechts.jpg") no-repeat scroll 0 0 transparent;
    height: 24px;
    width: 24px;
}
.seidentxt {
    border: 1px solid #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding-left: 3px;
    width: 180px;
}
.seidenarea {
    border: 1px solid #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 100px;
    padding: 3px;
    width: 300px;
}
.seidenbutton {
    background-color: #999999;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 0;
}

