dy {
    background: none repeat scroll 0 0 #FFFFFF;
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    line-height: 14px;
}
p {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    line-height: 14px;
}
div {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    line-height: 14px;
}
span {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    line-height: 14px;
}
font {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    line-height: 14px;
}
td {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    text-align: left;
    vertical-align: top;
}
th {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
}
b {
    font-family: verdana,geneva,arial,sans-serif;
    font-weight: bold;
}
ul {
    font-family: verdana,geneva,arial,sans-serif;
    line-height: 14px;
    list-style-type: disc;
}
img {
    border-color: #000000;
}
.zsborder {
    border: 2px solid #CCCCCC;
    margin-bottom: 20px;
    padding: 10px;
    width: 600px;
}
.zsbigborder {
    border: 1px solid #222222;
    margin-bottom: 20px;
    padding: 10px;
    width: 625px;
}
h1 {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
}
h6 {
    font-family: verdana,geneva,arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
}
hr {
    color: #CCCCCC;
}
a:link {
    border-color: #000000;
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a:hover {
    border-color: #000000;
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: underline;
}
a:visited {
    border-color: #000000;
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: none;
}
a:visited:hover {
    border-color: #000000;
    color: #CC0000;
    font-family: verdana,geneva,arial,sans-serif;
    text-decoration: underline;
}