/bin/plovr*.jar
/build/gh-pages
/build/jsdoc-*-timestamp
/build/lint-spec-timestamp
/build/lint-src-timestamp
/build/ol.css
/build/ol.js
/build/ol-all.js
/build/require-all.js
/build/src
/examples/*.json
/examples/*.combined.js
