/bin/plovr*.jar
/build/gh-pages
/build/lint-spec-timestamp
/build/lint-src-timestamp
/build/ol.js
/build/ol-all.js
/build/proj4js-combined.js
/build/require-all.js
/demos/*/advanced-optimizations.*
/demos/*/build.html
/demos/*/index.html
