---
title: '3rd party'
layout: default.hbs
---
<div class="container mt-4 pt-4">
  <h3 class="mb-3">Useful 3rd party libraries</h3>
  <p class="lead">
    The libraries below provide additional functionality by extending OpenLayers or integrating well with it.
  </p>
  <table class="table table-hover">
    <tbody>
      <tr><th>Library</th><th>Description</th><th>Maintainer</th></tr>
      <tr>
        <td><a href="https://github.com/openlayers/ol-cesium">OL-Cesium</a></td>
        <td>Cesium integration library.</td>
        <td><a href="https://github.com/openlayers">OpenLayers</a></td>
      </tr>
      <tr>
        <td><a href="https://npmjs.com/package/ol-mapbox-style">ol-mapbox-style</a></td>
        <td>Create OpenLayers maps from Mapbox Style objects.</td>
        <td><a href="https://github.com/openlayers">OpenLayers</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/walkermatt/ol-layerswitcher">OL-LayerSwitcher</a></td>
        <td>Layer control for OpenLayers.</td>
        <td><a href="https://github.com/walkermatt">Matt Walker</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/walkermatt/ol-popup">OL-Popup</a></td>
        <td>Basic popup overlay for OpenLayers.</td>
        <td><a href="https://github.com/walkermatt">Matt Walker</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/bjornharrtell/jsts">JSTS</a></td>
        <td>JavaScript Topology Suite.</td>
        <td><a href="https://github.com/bjornharrtell">Björn Harrtell</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/jonataswalker/ol-geocoder">OL-Geocoder</a></td>
        <td>Geocoder Nominatim for OpenLayers.</td>
        <td><a href="https://github.com/jonataswalker">Jonatas Walker</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/webgeodatavore/ol3-photon">OL3-Photon</a></td>
        <td>Photon geocoder for OpenLayers.</td>
        <td><a href="https://github.com/ThomasG77">Thomas Gratier</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/OpenCageData/geosearch/tree/master/packages/ol-opencage-geosearch">ol-opencage-geosearch</a></td>
        <td>OpenCage GeoSearch for OpenLayers.</td>
        <td><a href="https://github.com/OpenCageData">OpenCage</a></td>
      </tr>      
      <tr>
        <td><a href="https://github.com/jonataswalker/ol-contextmenu">OL-ContextMenu</a></td>
        <td>Custom Context Menu for OpenLayers.</td>
        <td><a href="https://github.com/jonataswalker">Jonatas Walker</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/mapgears/ol3-google-maps">OL-Google-Maps</a></td>
        <td>Google Maps integration library.</td>
        <td><a href="https://github.com/mapgears">Mapgears</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/mapgears/ol3-panzoom">OL3-PanZoom</a></td>
        <td>PanZoom and PanZoomBar controls for OpenLayers.</td>
        <td><a href="https://github.com/mapgears">Mapgears</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/Viglino/ol-ext">OL-Ext</a></td>
        <td>Miscellanous classes and functions for OpenLayers.</td>
        <td><a href="https://github.com/Viglino">Jean-Marc Viglino</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/nsidc/ol3-projection-switcher">OL3-Projection-Switcher</a></td>
        <td>An OpenLayers Control to switch between projections.</td>
        <td><a href="https://github.com/nsidc">NSIDC</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/boundlessgeo/ole">Olé</a></td>
        <td>Integration of OpenLayers and Esri ArcGIS REST services.</td>
        <td><a href="https://github.com/boundlessgeo">Boundless</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/allenhwkim/react-openlayers">React OpenLayers</a></td>
        <td>A minimal React wrapper of OpenLayers 3+ written in TypeScript</td>
        <td><a href="https://github.com/allenhwkim">Allen Kim</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/TDesjardins/gwt-ol">GWT-OpenLayers 3+</a></td>
        <td>A GWT wrapper for OpenLayers 3+ written in Java</td>
        <td><a href="https://github.com/TDesjardins">Tino Desjardins</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/terrestris/react-geo">react-geo</a></td>
        <td>A set of geo related modules to use in combination with React, Ant Design UI and OpenLayers</td>
        <td><a href="https://github.com/terrestris">terrestris</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/dayjournal/ol-opacity">ol-opacity</a></td>
        <td>A layer switcher control with opacity sliders for overlays.</td>
        <td><a href="https://github.com/dayjournal">dayjournal</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/symbioquine/ol-grid">ol-grid</a></td>
        <td>A dynamic grid for OpenLayers - intended for use as part of advanced snapping controls.</td>
        <td><a href="https://github.com/symbioquine">Symbioquine</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/MelihAltintas/vue3-openlayers">vue3-openlayers</a></td>
        <td>vue3-openlayers is a components library that brings the power of OpenLayers to the Vue3 reactive world.</td>
        <td><a href="https://github.com/MelihAltintas/">Melih Altıntaş</a></td>
      </tr>
      <tr>
        <td><a href="https://github.com/ahocevar/ol-marker-feature">ol-marker-feature</a></td>
        <td>The OpenLayers Marker Feature plugin provides an easy way to add markers to a map and associate them with popups, e.g. using <a href="https://github.com/walkermatt/ol-popup">OL-Popup</a>.</td>
        <td><a href="https://github.com/ahocevar">Andreas Hocevar</a></td>
      </tr>
    </tbody>
  </table>
</div>
