@import url(font-awesome/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700);

body {
  padding-top: 60px;
}
.map {
  height: 400px;
  width: 100%;
  background: url(textured_paper.jpeg) repeat;
}
.ol-attribution {
  max-width: 50%;
}
#tags {
  display: none;
}

body, h1, h2, h3, h4, p, li, td, th {
  font-family: Quattrocento Sans;
}
.navbar-inverse .navbar-inner {
  background: #1F6B75;
}
.navbar-inverse .brand {
  color: white;
  padding: 5px;
}

.stability {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #333;
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.stability-deprecated {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.stability-experimental {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.stability-unstable {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.stability-stable,
.stability-locked,
.stability-locked, {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
