@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700);

body {
  padding-top: 60px;
}
.map {
  height: 400px;
  width: 100%;
  background: url(textured_paper.jpeg) repeat;
}
.ol-attribution {
  max-width: calc(100%-3em);
}
#tags {
  display: none;
}

body, h1, h2, h3, h4, p, li, td, th {
  font-family: Quattrocento Sans;
}
.navbar-inverse .navbar-inner {
  background: #1F6B75;
}
.navbar-inverse .brand {
  color: white;
  padding: 5px;
}
