<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/solid.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/brands.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/theme/ol.css">
    <link rel="stylesheet" type="text/css" href="/theme/site.css">
{{#each css.local}}
    <link rel="stylesheet" type="text/css" href="{{{ . }}}">
{{/each}}
    <link rel="icon" type="image/svg+xml" href="/theme/img/logo-light.svg" media="(prefers-color-scheme: light)" />
    <link rel="icon" type="image/svg+xml" href="/theme/img/logo-dark.svg" media="(prefers-color-scheme: dark)" />
  </head>
  <body>
    <header class="navbar navbar-expand-md navbar-dark mb-3 px-3 py-0 fixed-top" role="navigation">
      <a class="navbar-brand" href="/"><img src="/theme/img/logo-dark.svg" width="70" height="70" alt="">&nbsp;OpenLayers</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#olmenu" aria-controls="olmenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- menu items that get hidden below 768px width -->
      <nav class="collapse navbar-collapse" id="olmenu">
        <ul class="nav navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="docdropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Docs</a>
            <div class="dropdown-menu dropdown-menu-end mb-3" aria-labelledby="docdropdown">
              <a class="dropdown-item" href="/doc/">Docs</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/doc/quickstart.html"><i class="fa fa-check fa-fw me-2 fa-lg"></i>Quick Start</a>
                <a class="dropdown-item" href="/doc/faq.html"><i class="fa fa-question fa-fw me-2 fa-lg"></i>FAQ</a>
                <a class="dropdown-item" href="/doc/tutorials/"><i class="fa fa-book fa-fw me-2 fa-lg"></i>Tutorials</a>
                <a class="dropdown-item" href="/workshop/"><i class="fa fa-graduation-cap fa-fw me-2 fa-lg"></i>Workshop</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://stackoverflow.com/questions/tagged/openlayers"><i class="fab fa-stack-overflow fa-fw me-2"></i>Ask a Question</a>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="../examples/">Examples</a></li>
          <li class="nav-item"><a class="nav-link" href="../apidoc/"><i class="fa fa-sitemap me-1"></i>API</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="codedropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Code</a>
            <div class="dropdown-menu dropdown-menu-end mb-3" aria-labelledby="codedropdown">
              <a class="dropdown-item" href="https://github.com/openlayers/openlayers"><i class="fab fa-github fa-fw me-2 fa-lg"></i>Repository</a>
              <a class="dropdown-item" href="/download/"><i class="fa fa-download fa-fw me-2 fa-lg"></i>Download</a>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <div class="container-fluid line-numbers">
      <div id="latest-check" class="alert alert-warning alert-dismissible" role="alert" style="display:none">
        <button id="latest-dismiss" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        This example uses OpenLayers v<span>{{ olVersion }}</span>. The <a id="latest-link" href="#" class="alert-link">latest</a> is v<span id="latest-version"></span>.
      </div>

{{#if ./experimental}}
      <div id="experimental-notice" class="alert alert-warning alert-dismissible" role="alert">
        <button id="experimental-dismiss" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        This example uses features that are not part of the stable API and subject to change between releases.  Consult the <a href="/en/latest/apidoc/">API documentation</a>
        to see what is supported in the latest release.
      </div>
{{/if}}

      <div class="row-fluid">
        <a href="#" id="codepen-button" class="btn btn-link float-end">
          <i class="fab fa-codepen fa-lg"></i> Edit
        </a>
        <div class="span12">
          <h4 id="title">{{ title }}</h4>
          <p class="tags">
{{#each tags}}
            <span class="badge-group">
              <a
                href="./index.html?q={{ ./tag }}" class="badge badge-info">{{ ./tag }}</a
              ><a
                class="badge badge-info tag-modal-toggle"
                data-bs-toggle="modal"
                data-bs-target="#tag-example-list"
                data-title="{{ ./tag }}"
                data-content="&lt;ul class=&quot;list-group&quot;&gt;
{{#each ./examples}}
                  &lt;li&gt;&lt;a class=&quot;list-group-item list-group-item-action{{#if ./isCurrent}} active{{/if}}&quot; href=&quot;./{{ ./link }}&quot;&gt;{{escape ./title}}&lt;/a&gt;
{{/each}}
                  &lt;/ul&gt;"
                tabindex="0"
                >{{ ./examples.length }}</a>
            </span>
{{/each}}
          </p>
          <div class="modal modal-tag-example" id="tag-example-list" tabindex="-1" role="dialog" aria-labelledby="tag-example-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="tag-example-title"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="list-group"></div>
                </div>
              </div>
            </div>
          </div>
          {{{ contents }}}
        </div>
        <form method="POST" id="codepen-form" target="_blank" action="https://codesandbox.io/api/v1/sandboxes/define">
          <input id="codesandbox-params" type="hidden" name="parameters">
        </form>
      </div>

      <div class="row-fluid">
        <div class="span12">
          <p id="shortdesc">{{ shortdesc }}</p>
          <div id="docs">{{ md docs }}</div>
        </div>
      </div>

      <div class="row-fluid">
        <h5 class="source-heading">main.js</h5>
        <pre><code id="example-js-source" class="language-js">{{ js.source }}</code></pre>
      </div>

      <div class="row-fluid">
        <h5 class="source-heading">index.html</h5>
        <pre><code id="example-html-source" class="language-markup">&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
  &lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;{{ title }}&lt;/title&gt;
{{#each css.remote}}
    &lt;link rel="stylesheet" href="{{ . }}"&gt;
{{/each}}
    &lt;link rel="stylesheet" href="node_modules/ol/ol.css"&gt;
    &lt;style&gt;
      .map {
        width: 100%;
        height: 400px;
      }
{{#if css.source}}{{ indent css.source spaces=6 }}{{/if}}    &lt;/style&gt;
  &lt;/head&gt;
  &lt;body&gt;
{{ indent contents spaces=4 }}    &lt;!-- Pointer events polyfill for old browsers, see https://caniuse.com/#feat=pointer --&gt;
    &lt;script src="https://unpkg.com/elm-pep@1.0.6/dist/elm-pep.js"&gt;&lt;/script&gt;
{{#each js.remote}}
    &lt;script src="{{ . }}"&gt;&lt;/script&gt;
{{/each}}
    &lt;script type="module" src="main.js"&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
      </div>

{{#each extraSources}}
      <div class="row-fluid extra-source">
        <h5 class="source-heading">{{./name}}</h5>
        <pre><code class="language-{{./type}}">{{ ./source }}</code></pre>
      </div>
{{/each}}
      <div class="row-fluid">
        <h5 class="source-heading">package.json</h5>
        <pre><code id="example-pkg-source" class="language-json">{{ pkgJson }}</code></pre>
      </div>
    </div>

    <script src="https://unpkg.com/elm-pep@1.0.6/dist/elm-pep.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
{{#each js.local}}
    <script src="{{{ . }}}"></script>
{{/each}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/plugins/autoloader/prism-autoloader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/plugins/toolbar/prism-toolbar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.js"></script>
    <script src="./resources/common.js"></script>
    <script>
      document.getElementById('tag-example-list')
        .addEventListener('show.bs.modal', function (event) {
          const button = event.relatedTarget; // Button that triggered the modal
          this.querySelector('.modal-title').innerText = button.dataset.title;
          this.querySelector('.modal-body').innerHTML = button.dataset.content;
        });
    </script>
    <script>
      const releaseUrl = 'https://cdn.jsdelivr.net/npm/ol/package.json';
      fetch(releaseUrl).then(function(response) {
        return response.json();
      }).then(function(json) {
        const latestVersion = json.version;
        document.getElementById('latest-version').innerHTML = latestVersion;
        const url = window.location.href;
        const branchSearch = url.match(/\/([^\/]*)\/examples\//);
        const storageKey = 'ol-dismissed=-' + latestVersion;
        const dismissed = localStorage.getItem(storageKey) === 'true';
        if (branchSearch && !dismissed && /^v[0-9\.]*$/.test(branchSearch[1]) && '{{ olVersion }}' != latestVersion) {
          const link = url.replace(branchSearch[0], '/latest/examples/');
          fetch(link, {method: 'head'}).then(function(response) {
            const a = document.getElementById('latest-link');
            a.href = response.status == 200 ? link : '../../latest/examples/';
          });
          const latestCheck = document.getElementById('latest-check');
          latestCheck.style.display = '';
          document.getElementById('latest-dismiss').onclick = function() {
            latestCheck.style.display = 'none';
            localStorage.setItem(storageKey, 'true');
          }
        }
      });
    </script>
  </body>
</html>
