div.olMapViewport {
   -moz-user-select: none 
}

.olLayerGoogleCopyright {
    left: 2px;
    bottom: 2px;  
}
.olLayerGooglePoweredBy {
    left: 2px;
    bottom: 15px;   
}

.olControlScale {
    right: 3px;
    bottom: 3em;
    display: block;
    position: absolute;
}
.olControlPermalink {
    right: 3px;
    bottom: 1.5em;
    display: block;
    position: absolute;
} 

div.olControlMousePosition {
    bottom: 0em;
    right: 3px;
    display: block;
    position: absolute;
    font-family: Arial;
    font-size: smaller;
}

.olControlOverviewMapContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.olControlOverviewMapElement {
    padding: 10px 18px 10px 10px;
    background-color: #00008B;
    -moz-border-radius: 1em 0 0 0;
}

.olControlOverviewMapMinimizeButton {
    right: 0px;
    bottom: 80px;
}    

.olControlOverviewMapMaximizeButton {
    right: 0px;
    bottom: 80px;
}

.olControlOverviewMapExtentRectangle {
   cursor: move;
    border: 2px dotted red;
}
.olLayerGeoRSSDescription {
    float:left;
    width:100%;
    overflow:auto;
    font-size:1.0em;
}
.olLayerGeoRSSClose {
    float:right;
    color:gray;
    font-size:1.2em;
    font-family:sans-serif;
}
.olLayerGeoRSSTitle {
    float:left;font-size:1.2em;
}

.olPopupContent {
    padding:5px;
}    
.olControlNavToolbar div { 
  display:block;
  width:  28px;
  height: 28px;
  top: 300px;
  left: 6px;
  position: relative;
}

.olControlNavToolbar .olControlNavigationItemActive { 
  background-image: url("img/panning-hand-on.png");
}
.olControlNavToolbar .olControlNavigationItemInactive { 
  background-image: url("img/panning-hand-off.png");
}
.olControlNavToolbar .olControlZoomBoxItemActive { 
  background-image: url("img/drag-rectangle-on.png");
  background-color: orange;
}
.olControlNavToolbar .olControlZoomBoxItemInactive { 
  background-image: url("img/drag-rectangle-off.png");
}
.olControlEditingToolbar  {
    float:right;
    right: 0px;
    height: 30px; 
    width: 200px;
}
.olControlEditingToolbar div { 
  float:right;
  width:  24px;
  height: 24px;
  margin: 5px;
}
.olControlEditingToolbar .olControlNavigationItemActive { 
  background-image: url("img/pan_on.png");
}
.olControlEditingToolbar .olControlNavigationItemInactive { 
  background-image: url("img/pan_off.png");
}
.olControlEditingToolbar .olControlDrawFeaturePointItemActive { 
  background-image: url("img/draw_point_on.png");
}
.olControlEditingToolbar .olControlDrawFeaturePointItemInactive { 
  background-image: url("img/draw_point_off.png");
}
.olControlEditingToolbar .olControlDrawFeaturePathItemInactive { 
  background-image: url("img/draw_line_off.png");
}
.olControlEditingToolbar .olControlDrawFeaturePathItemActive { 
  background-image: url("img/draw_line_on.png");
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive { 
  background-image: url("img/draw_polygon_off.png");
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemActive { 
  background-image: url("img/draw_polygon_on.png");
}
