.olControlScale {
    right: 3px;
    bottom: 3em;
    display: block;
    position: absolute;
}
.olControlPermalink {
    right: 3px;
    bottom: 1.5em;
    display: block;
    position: absolute;
}
