{
  "globals": {
    "$": false,
    "arc": false,
    "bootstrap": false,
    "common": false,
    "createMapboxStreetsV6Style": false,
    "gifler": false,
    "GyroNorm": false,
    "mapboxgl": false,
    "NumpyLoader": false,
    "saveAs": false,
    "toastr": false,
    "topolis": false
  },
  "rules": {
    "no-unused-vars": [2, {"varsIgnorePattern": "^map"}]
  }
}
