.info {
  min-width: 3em;
  text-align: right;
}
form {
  display: table;
}
form > div  {
  display: table-row;
}
form > div > *  {
  display: table-cell;
  white-space: nowrap;
  padding-right: 5px;
}
