#scaleBarOptions {
  display: none;
}

input[type=range] {
  vertical-align: middle;
}

.ol-scale-bar-inverted .ol-scale-singlebar-even {
  background-color: var(--ol-background-color);
}

.ol-scale-bar-inverted .ol-scale-singlebar-odd {
  background-color: var(--ol-subtle-foreground-color);;
}
