dialog {
  top: 13rem;
}

#auth-form {
  display: flex;
  flex-direction: column;
}

#auth-form>label {
  margin-bottom: 1rem;
}

#auth-form>input[type=submit] {
  margin-top: 1rem;
}

#evalscript-form {
  display: flex;
  flex-direction: column;
}

#evalscript-form>input[type=submit] {
  margin-top: 1rem;
  width: fit-content;
  align-self: flex-end;
}

.cm-editor {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 13px;
}