div.olControlZoom {
    position: absolute;
    top: 8px;
    left: 8px;
}
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
div.olControlZoom a {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-size: 28px;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 32px;
    width: 32px;
    line-height: 28px;
    text-shadow: 0 0 3px rgba(0,0,0,0.8);
    background: #666666; /* fallback for IE - IE6 requires background shorthand*/
    background: rgba(0, 0, 0, 0.3);
    filter: alpha(opacity=60);
}
a.olControlZoomIn {
    border-radius: 4px 4px 0 0;
}
a.olControlZoomOut {
    border-radius: 0 0 4px 4px;
}
div.olControlZoom a:hover {
    background: #444444; /* fallback for IE */
    background: rgba(0, 0, 0, 0.5);
    filter: alpha(opacity=80);
}
@media only screen and (max-width: 600px) {
    div.olControlZoom a:hover {
        background: rgba(0, 0, 0, 0.3);
    }
}
