.edit-form {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
  white-space: nowrap;
}

.edit-form h2 {
  font-size: 1.5em;
}

.edit-form input[type="button"] {
  float: right;
}

.edit-form-elem label {
  display: inline-block;
  width: 85px;
}

.edit-form-elem input[type="text"],
.edit-form-elem select {
  width: 130px;
}
