@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700);

body {
  padding-top: 60px;
}
.map {
  height: 400px;
  width: 100%;
  background: url(map-background.jpg) repeat;
}
.ol-attribution {
  max-width: calc(100% - 3em);
}
.ol-control button, .ol-attribution, .ol-scale-line-inner {
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
}

#tags, #shortdesc, .hidden {
  display: none;
}
#api-links ul {
  display: inline;
}

body, h1, h2, h3, h4, p, li, td, th {
  font-family: Quattrocento Sans;
}
.navbar-inverse .navbar-inner {
  background: #1F6B75;
}
.navbar-inverse .brand {
  color: white;
  padding: 5px;
}
.brand img {
  width: 35px;
  height: 35px;
}
