a:visited {
  color: #08c;
}

.stability {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #333;
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.stability-deprecated {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.stability-experimental {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.stability-unstable {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.stability-stable, .stability-locked {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
