<?js
var self = this;

function toShortName(name) {
    return name.indexOf('module:') === 0 ? name.split('/').pop() : name;
}

function getItemCssClass(type) {
    if (type === 'module') {
        return 'glyphicon-plus';
    } else if (type === 'class') {
        return 'glyphicon-chevron-right';
    }
    return '';
}

const printList = v => { ?>
                    <li data-name="<?js= toShortName(v.name).toLowerCase() ?>"><?js
}
const printListWithStability = v => {
    const cls = v.stability && v.stability !== 'stable' ? ' class="unstable"' : ''; ?>
                    <li data-name="<?js= toShortName(v.name).toLowerCase() ?>"<?js= cls ?>><?js
}

function listContent(item, title, listItemPrinter) {
    const type = title.toLowerCase();
    if (item[type] && item[type].length) { ?>
            <div class="member-list" data-type="<?js= type ?>">
                <span class="subtitle"><?js= title ?></span>
                <ul><?js
        item[type].forEach(function (v) {
            listItemPrinter(v); ?><?js= self.linkto(v.longname, toShortName(v.name)) ?><?js
         }); ?>
                </ul>
            </div><?js
    }
}
?>
<div class="navigation">
    <div class="search">
        <input id="search" type="text" class="form-control input-sm" placeholder="Search Documentation">
    </div>
    <ul class="navigation-list search-empty"><?js
        this.nav.forEach(function (item) { ?>
        <li class="item item-<?js= item.type ?>" data-longname="<?js= item.longname ?>" data-name="<?js= item.prettyname.toLowerCase() ?>">
            <span class="title toggle">
                <span class="glyphicon <?js= getItemCssClass(item.type) ?>"></span>
                <span><?js= self.linkto(item.longname, item.prettyname.replace(/[.~]/g, '\u200b$&')) ?></span>
            </span><?js
                listContent(item, 'Members', printList);
                listContent(item, 'Typedefs', printListWithStability);
                listContent(item, 'Methods', printListWithStability);
                if (item.fires) {
                    const fires = item.fires.map(v => self.find({longname: v})[0] || {longname: v, name: v.split(/#?event:/)[1]});
                    listContent({fires: fires}, 'Fires', printListWithStability)
                }
        }); ?>
    </ul>
</div>
