
#map {
  position: relative;
  height: 120px;
}

#tagline {
  padding-left: 25%;
  margin-bottom: 10px;
}

#tagline p {
  font-size: 150%;
  font-style: italic;
}

#news {
  clear: both;
  border: 1px solid #eee;
  background-color: #f8f8f8;
  border-radius: 4px;
  padding: 1rem;
  margin: 0 1rem 0 1rem;
}

#news h1 {
  margin: 0;
}

img.thumb {
  float: right;
  margin-left: 10px;
}

/* ol customizations */

.ol-overlaycontainer-stopevent {
  opacity: 0;
  transition: opacity 300ms ease;
}

/* not done with :hover because the overlay blocks events and has no height */
.over .ol-overlaycontainer-stopevent {
  opacity: 1;
}

ul.sponsors {
  background-color: #f8f8f8;
}